:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.app2 {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
  margin:1.5rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

section[data-task-section]{
  /* max-width:35rem; */
}

li[data-task],li[data-task-upload],li[data-links]{
  display:flex;
  /* flex-direction:column; */
  gap: 3rem;
  padding:.5rem;
}
li[data-task] label,li[data-task-upload] label,
[data-links] label{
    text-align:left;
    min-width:150px;
    
}
ul{
  padding:0%;
  margin:0%;
  min-width: 100%;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

details {
  /* open = true; */
  font: 16px "Open Sans", Calibri, sans-serif; 
  height: fit-content;
  overflow: auto;
  min-width: 150px;
  text-align: left;
  max-width: 90rem;
  
}
.container{
  max-width:95rem;
  /* margin:auto; */
  display:flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center; 
   padding:1rem;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: fit-content;
}

td,
th {
  border: 2px solid #999;
  padding: 0.5rem;
}

#tasksTable{
  /* margin-bottom: 5%; */
}

[data-table-img]{
  /* width: 250px; */
  height: 250px;
  /* object-fit: cover; */
}
.imgholder{
  /* width: auto; */
}
details summary{
  text-align:center;
  font-size:large;
  font-weight: 600;
  padding:.5rem; 
}

#nameElement{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  width: 100%;
  padding:1rem;
  position: absolute;
  top: 0;
  right: 5px;
  z-index: -1;
  align-items: flex-end;

}


/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 9px;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid yellowgreen;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: yellowgreen;  
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #88ba1c;  
  }

/* ul{
  list-style-type:none;
} */

#grid { 
  display: grid;
  grid-template-rows: 1fr 11fr ;
  grid-template-columns: 1fr 10fr 1fr;
  grid-gap: 1rem;
  }
#grid > div {
  /* font-size: 5vw; */
  /* padding: .5em; */
  /* background: rgb(82, 70, 2); */
  /* text-align: center; */
}

.grid2 { 
  display: grid;
  grid-template-rows: 2fr 8fr;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
    /* border: 3px solid white; */
  }
 .grid2 >div[data-user-details]{
     /* grid-gap: 2rem; */
    /* border: 3px solid white; */
    /* text-align: center; */
  }
.loggedInUser,ul[data-ul-links]{
  display: flex;
  flex-direction:column;
  gap:.2rem;
  margin: 0.5rem 1.5rem 1.5rem 0rem;
  padding:2%;
  list-style: circle inside;  
  font-size: .8rem;
}
[data-link-li-even]{
    font-size: .6rem;
  }
[data-link-li]+hr,[data-link-li]>hr{
    width:96%;
    background-color:green;
    padding: 1.1%;
  }

  #headerNav ul{
display:flex;
justify-content: space-evenly;
list-style: none;
background-color: #1c1d2c;
font-size: smaller;
  }


/* Greater than or equal to 1000px */
@media (width >= 1000px) {}

/* Less than or equal to 700px */
@media (width <= 700px) {
  body{
    background-color:white;
    color:black;
    font-size:smaller;
  }
  #gridSection3{
    display:none;
  }
}
/* Less than or equal to 550px */
@media(width <= 650px){
  details{
    max-width: 85%;
    font-size: .5rem;
  }
  #gridSection1{
    display:none;
  }
}
/* Between 700px and 1000px */
@media (700px <= width <= 1000px) {}